USE [master]
GO
/****** Object:  Database [BasesPRY1]    Script Date: 03/06/2020 04:18:26 p.m. ******/
CREATE DATABASE [BasesPRY1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BasesPRY1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VENTASPARTES\MSSQL\DATA\BasesPRY1_Primary.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BasesPRY1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.VENTASPARTES\MSSQL\DATA\BasesPRY1_Primary.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BasesPRY1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BasesPRY1]
GO
/****** Object:  Table [dbo].[AUTOMOVIL]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUTOMOVIL](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MODELO] [nvarchar](20) NOT NULL,
	[ANO] [nchar](4) NOT NULL,
	[DETALLE] [nvarchar](50) NOT NULL,
	[ID_FABRICANTE] [int] NOT NULL,
 CONSTRAINT [PK_AUTO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_AUTO] UNIQUE NONCLUSTERED 
(
	[MODELO] ASC,
	[ANO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ESTADO] [int] NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CORRESPONDENCIA]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CORRESPONDENCIA](
	[ID_PARTE] [int] NOT NULL,
	[ID_AUTOMOVIL] [int] NOT NULL,
 CONSTRAINT [PK_CORR] PRIMARY KEY CLUSTERED 
(
	[ID_PARTE] ASC,
	[ID_AUTOMOVIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[ID_ORDEN] [int] NOT NULL,
	[ID] [int] NOT NULL,
	[PRECIO] [decimal](18, 2) NOT NULL,
	[CANTIDAD] [int] NOT NULL,
	[ID_PARTE] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
 CONSTRAINT [PK_DET] PRIMARY KEY CLUSTERED 
(
	[ID_ORDEN] ASC,
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TIPO] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_EST] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_EST] UNIQUE NONCLUSTERED 
(
	[TIPO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAB_AUTOS]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAB_AUTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FABAUTOS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_FABUTOS] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAB_PARTES]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAB_PARTES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_FABPARTES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_FABPARTES] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_MARCA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_MARCA] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDEN]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDEN](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MONTO_BASE] [decimal](18, 2) NOT NULL,
	[FECHA] [date] NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_ORDEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORGANIZACION]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORGANIZACION](
	[CEDULA_JUR] [nchar](10) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](70) NOT NULL,
	[CIUDAD] [nvarchar](20) NOT NULL,
	[NOMBRE_CONTACTO] [nvarchar](50) NOT NULL,
	[CARGO_CONTACTO] [nvarchar](50) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_ORG] PRIMARY KEY CLUSTERED 
(
	[CEDULA_JUR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PARTE]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARTE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[ID_FABRICANTE] [int] NOT NULL,
	[ID_MARCA] [int] NOT NULL,
 CONSTRAINT [PK_PARTE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_PARTE] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC,
	[ID_FABRICANTE] ASC,
	[ID_MARCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[CEDULA] [nchar](9) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[CIUDAD] [nvarchar](20) NOT NULL,
	[ID_CLIENTE] [int] NOT NULL,
 CONSTRAINT [PK_PER] PRIMARY KEY CLUSTERED 
(
	[CEDULA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[NOMBRE_CONTACTO] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[CIUDAD] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_PROV] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_PROV] UNIQUE NONCLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVISION]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVISION](
	[ID_PARTE] [int] NOT NULL,
	[ID_PROVEEDOR] [int] NOT NULL,
	[PRECIO_PROVEEDOR] [decimal](18, 2) NOT NULL,
	[POR_GANANCIA] [decimal](18, 2) NOT NULL,
	[PRECIO_PUBLICO] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_PROVI] PRIMARY KEY CLUSTERED 
(
	[ID_PARTE] ASC,
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_ORGANIZACION]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_ORGANIZACION](
	[CEDULA_ORGANIZACION] [nchar](10) NOT NULL,
	[TELEFONO] [nchar](8) NOT NULL,
 CONSTRAINT [PK_TELORG] PRIMARY KEY CLUSTERED 
(
	[CEDULA_ORGANIZACION] ASC,
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_PERSONA]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_PERSONA](
	[CEDULA_PERSONA] [nchar](9) NOT NULL,
	[TELEFONO] [nchar](8) NOT NULL,
 CONSTRAINT [PK_TELPER] PRIMARY KEY CLUSTERED 
(
	[CEDULA_PERSONA] ASC,
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TELEFONOS_PROVEEDOR]    Script Date: 03/06/2020 04:18:26 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TELEFONOS_PROVEEDOR](
	[ID_PROVEEDOR] [int] NOT NULL,
	[TELEFONO] [nchar](8) NOT NULL,
 CONSTRAINT [PK_TELPROV] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC,
	[TELEFONO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE] ADD  DEFAULT ((0)) FOR [PRECIO]
GO
ALTER TABLE [dbo].[DETALLE] ADD  DEFAULT ((1)) FOR [CANTIDAD]
GO
ALTER TABLE [dbo].[ORDEN] ADD  DEFAULT ((0)) FOR [MONTO_BASE]
GO
ALTER TABLE [dbo].[ORDEN] ADD  DEFAULT (getdate()) FOR [FECHA]
GO
ALTER TABLE [dbo].[PROVISION] ADD  DEFAULT ((0)) FOR [PRECIO_PROVEEDOR]
GO
ALTER TABLE [dbo].[PROVISION] ADD  DEFAULT ((0)) FOR [POR_GANANCIA]
GO
ALTER TABLE [dbo].[PROVISION] ADD  DEFAULT ((0)) FOR [PRECIO_PUBLICO]
GO
ALTER TABLE [dbo].[AUTOMOVIL]  WITH CHECK ADD  CONSTRAINT [FK_AUTO_FABAUTO] FOREIGN KEY([ID_FABRICANTE])
REFERENCES [dbo].[FAB_AUTOS] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[AUTOMOVIL] CHECK CONSTRAINT [FK_AUTO_FABAUTO]
GO
ALTER TABLE [dbo].[CLIENTE]  WITH CHECK ADD  CONSTRAINT [FK_CL_EST] FOREIGN KEY([ID_ESTADO])
REFERENCES [dbo].[ESTADO] ([ID])
GO
ALTER TABLE [dbo].[CLIENTE] CHECK CONSTRAINT [FK_CL_EST]
GO
ALTER TABLE [dbo].[CORRESPONDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CORR_AUTO] FOREIGN KEY([ID_AUTOMOVIL])
REFERENCES [dbo].[AUTOMOVIL] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CORRESPONDENCIA] CHECK CONSTRAINT [FK_CORR_AUTO]
GO
ALTER TABLE [dbo].[CORRESPONDENCIA]  WITH CHECK ADD  CONSTRAINT [FK_CORR_PARTE] FOREIGN KEY([ID_PARTE])
REFERENCES [dbo].[PARTE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CORRESPONDENCIA] CHECK CONSTRAINT [FK_CORR_PARTE]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DET_ORDEN] FOREIGN KEY([ID_ORDEN])
REFERENCES [dbo].[ORDEN] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DET_ORDEN]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DET_PARTE] FOREIGN KEY([ID_PARTE])
REFERENCES [dbo].[PARTE] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DET_PARTE]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_DET_PROV] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [FK_DET_PROV]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [FK_ORD_CL] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [FK_ORD_CL]
GO
ALTER TABLE [dbo].[ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [FK_ORG_CL] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ORGANIZACION] CHECK CONSTRAINT [FK_ORG_CL]
GO
ALTER TABLE [dbo].[PARTE]  WITH CHECK ADD  CONSTRAINT [FK_PARTE_FABPARTE] FOREIGN KEY([ID_FABRICANTE])
REFERENCES [dbo].[FAB_PARTES] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PARTE] CHECK CONSTRAINT [FK_PARTE_FABPARTE]
GO
ALTER TABLE [dbo].[PARTE]  WITH CHECK ADD  CONSTRAINT [FK_PARTE_MARCA] FOREIGN KEY([ID_MARCA])
REFERENCES [dbo].[MARCA] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PARTE] CHECK CONSTRAINT [FK_PARTE_MARCA]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_PER_CL] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [FK_PER_CL]
GO
ALTER TABLE [dbo].[PROVISION]  WITH CHECK ADD  CONSTRAINT [FK_PROVI_PARTE] FOREIGN KEY([ID_PARTE])
REFERENCES [dbo].[PARTE] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROVISION] CHECK CONSTRAINT [FK_PROVI_PARTE]
GO
ALTER TABLE [dbo].[PROVISION]  WITH CHECK ADD  CONSTRAINT [FK_PROVI_PROV] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROVISION] CHECK CONSTRAINT [FK_PROVI_PROV]
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [FK_TELORG_ORG] FOREIGN KEY([CEDULA_ORGANIZACION])
REFERENCES [dbo].[ORGANIZACION] ([CEDULA_JUR])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION] CHECK CONSTRAINT [FK_TELORG_ORG]
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA]  WITH CHECK ADD  CONSTRAINT [FK_TELPER_PER] FOREIGN KEY([CEDULA_PERSONA])
REFERENCES [dbo].[PERSONA] ([CEDULA])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA] CHECK CONSTRAINT [FK_TELPER_PER]
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [FK_TELPROV_PROV] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR] CHECK CONSTRAINT [FK_TELPROV_PROV]
GO
ALTER TABLE [dbo].[AUTOMOVIL]  WITH CHECK ADD  CONSTRAINT [CH1_ANO] CHECK  ((len([ANO])=(4)))
GO
ALTER TABLE [dbo].[AUTOMOVIL] CHECK CONSTRAINT [CH1_ANO]
GO
ALTER TABLE [dbo].[AUTOMOVIL]  WITH CHECK ADD  CONSTRAINT [CH2_ANO] CHECK  ((NOT [ANO] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[AUTOMOVIL] CHECK CONSTRAINT [CH2_ANO]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [CH_CANT] CHECK  (([CANTIDAD]>=(1)))
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [CH_CANT]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD  CONSTRAINT [CH_PRECIO] CHECK  (([PRECIO]>=(0)))
GO
ALTER TABLE [dbo].[DETALLE] CHECK CONSTRAINT [CH_PRECIO]
GO
ALTER TABLE [dbo].[ORDEN]  WITH CHECK ADD  CONSTRAINT [CH_MONTBASE] CHECK  (([MONTO_BASE]>=(0)))
GO
ALTER TABLE [dbo].[ORDEN] CHECK CONSTRAINT [CH_MONTBASE]
GO
ALTER TABLE [dbo].[ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [CH1_CEDJ] CHECK  ((len([CEDULA_JUR])=(10)))
GO
ALTER TABLE [dbo].[ORGANIZACION] CHECK CONSTRAINT [CH1_CEDJ]
GO
ALTER TABLE [dbo].[ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [CH2_CEDJ] CHECK  ((NOT [CEDULA_JUR] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[ORGANIZACION] CHECK CONSTRAINT [CH2_CEDJ]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CH1_CED] CHECK  ((len([CEDULA])=(9)))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CH1_CED]
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD  CONSTRAINT [CH2_CED] CHECK  ((NOT [CEDULA] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[PERSONA] CHECK CONSTRAINT [CH2_CED]
GO
ALTER TABLE [dbo].[PROVISION]  WITH CHECK ADD  CONSTRAINT [CH_PORGAN] CHECK  (([POR_GANANCIA]>=(0)))
GO
ALTER TABLE [dbo].[PROVISION] CHECK CONSTRAINT [CH_PORGAN]
GO
ALTER TABLE [dbo].[PROVISION]  WITH CHECK ADD  CONSTRAINT [CH_PRECPROV] CHECK  (([PRECIO_PROVEEDOR]>=(0)))
GO
ALTER TABLE [dbo].[PROVISION] CHECK CONSTRAINT [CH_PRECPROV]
GO
ALTER TABLE [dbo].[PROVISION]  WITH CHECK ADD  CONSTRAINT [CH_PRECPUB] CHECK  (([PRECIO_PUBLICO]>=(0)))
GO
ALTER TABLE [dbo].[PROVISION] CHECK CONSTRAINT [CH_PRECPUB]
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [CH1_TELORG] CHECK  ((len([TELEFONO])=(8)))
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION] CHECK CONSTRAINT [CH1_TELORG]
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION]  WITH CHECK ADD  CONSTRAINT [CH2_TELORG] CHECK  ((NOT [TELEFONO] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[TELEFONOS_ORGANIZACION] CHECK CONSTRAINT [CH2_TELORG]
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA]  WITH CHECK ADD  CONSTRAINT [CH1_TELPER] CHECK  ((len([TELEFONO])=(8)))
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA] CHECK CONSTRAINT [CH1_TELPER]
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA]  WITH CHECK ADD  CONSTRAINT [CH2_TELPER] CHECK  ((NOT [TELEFONO] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[TELEFONOS_PERSONA] CHECK CONSTRAINT [CH2_TELPER]
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [CH1_TELPROV] CHECK  ((len([TELEFONO])=(8)))
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR] CHECK CONSTRAINT [CH1_TELPROV]
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR]  WITH CHECK ADD  CONSTRAINT [CH2_TELPROV] CHECK  ((NOT [TELEFONO] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[TELEFONOS_PROVEEDOR] CHECK CONSTRAINT [CH2_TELPROV]
GO
USE [master]
GO
